assets_schemas/MAKE_DOT_COM_BLUEPRINT.json
{
    "name": "VTEXER SHARED",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1736999,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "genalllm3"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "type",
                        "type": "text"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "genaiAppHeading",
                                "type": "text"
                            },
                            {
                                "name": "description",
                                "type": "text"
                            },
                            {
                                "name": "mainUseCase",
                                "type": "text"
                            },
                            {
                                "name": "gptUseCase1",
                                "type": "text"
                            },
                            {
                                "name": "gptUseCase2",
                                "type": "text"
                            },
                            {
                                "name": "gptUseCase3",
                                "type": "text"
                            },
                            {
                                "name": "effort",
                                "type": "text"
                            },
                            {
                                "name": "cost",
                                "type": "text"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.type}}",
                                            "b": "report",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://script.google.com/macros/s/AKfycbz6zwHBcMhNIklSBTZRVeVBONyeL5DnT58HBs_5C2WmOQTNG1Z6GgMwNzI1O8JmEIi3G99/exec",
                                "data": "",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 608,
                                    "y": 606
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://script.google.com/macros/s/AKfycby5MdOHsm2lhq7mMyBiY5LI_Dyzhav9sb52DLbPwMkmAZswMegPhSZDJdjloTIo1qAU99/exec",
                                "data": "",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 922,
                                    "y": 614
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9999999
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.type}}",
                                            "b": "update",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.data.genaiAppHeading}}",
                                    "1": "{{1.data.description}}",
                                    "2": "{{1.data.mainUseCase}}",
                                    "3": "{{1.data.effort}}",
                                    "4": "{{1.data.cost}}",
                                    "5": "{{1.data.gptUseCase1}}",
                                    "6": "{{1.data.gptUseCase2}}",
                                    "7": " {{1.data.gptUseCase3}}"
                                },
                                "sheetId": "Sheet1",
                                "spreadsheetId": "/1LPV1pZb4Bc3TMVAYqqH8MCNU55Ew8oB1K8MZMuuytef3",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 133,
                                    "y": 160
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Select by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "GENAI LLM APPS"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "GENAI APP HEADING (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "DESCRIPTION (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "MAIN USECASE (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "EFFORT (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "COST (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "GPT USE CASE 1 (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "GPT USE CASE 2 (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "GPT USE CASE 3 (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "(AB)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (your_google_id@)example.com"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "GENAI APP HEADING (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "DESCRIPTION (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "MAIN USECASE (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "EFFORT (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "COST (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "GPT USE CASE 1 (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "GPT USE CASE 2 (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "GPT USE CASE 3 (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "(AB)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "microsoft-excel:addAWorksheetRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7777777
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.type}}",
                                            "b": "update",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "row": {
                                    "0": "{{1.data.genaiAppHeading}}",
                                    "1": "{{1.data.description}}",
                                    "2": "{{1.data.mainUseCase}}",
                                    "3": "{{1.data.effort}}",
                                    "4": "{{1.data.cost}}",
                                    "5": "{{1.data.gptUseCase1}}",
                                    "6": "{{1.data.gptUseCase2}}",
                                    "7": "{{1.data.gptUseCase3}}"
                                },
                                "select": "list",
                                "selectB": "my",
                                "workbook": "/GENAI_LLM_APPS.xlsx",
                                "valueType": "values",
                                "worksheet": "Sheet1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 371,
                                    "y": 160
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "selectB": {
                                            "label": "My Drive"
                                        },
                                        "valueType": {
                                            "mode": "chose",
                                            "label": "Values"
                                        },
                                        "worksheet": {
                                            "mode": "chose",
                                            "label": "Sheet1"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "One Drive Connection (Your Connection)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select a method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "selectB",
                                        "type": "select",
                                        "label": "Choose your OneDrive location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "my",
                                                "site",
                                                "group"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "workbook",
                                        "type": "file",
                                        "label": "Workbook",
                                        "required": true
                                    },
                                    {
                                        "name": "worksheet",
                                        "type": "select",
                                        "label": "Worksheet",
                                        "required": true
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "select",
                                        "label": "Type of Values Being Entered",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "formulas",
                                                "formulasLocal",
                                                "values"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "row",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "(A): GENERATIVE AI : EXPLORATORY PROJECTS"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "(B): "
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "(C): "
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D): "
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E): "
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F): "
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G): "
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H): "
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Row"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Row ID"
                                    },
                                    {
                                        "name": "row",
                                        "spec": [
                                            {
                                                "name": "a",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(A): GENERATIVE AI : EXPLORATORY PROJECTS"
                                            },
                                            {
                                                "name": "b",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(B): "
                                            },
                                            {
                                                "name": "c",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(C): "
                                            },
                                            {
                                                "name": "d",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(D): "
                                            },
                                            {
                                                "name": "e",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(E): "
                                            },
                                            {
                                                "name": "f",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(F): "
                                            },
                                            {
                                                "name": "g",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(G): "
                                            },
                                            {
                                                "name": "h",
                                                "spec": [
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "formulaLocal",
                                                        "type": "text",
                                                        "label": "Formula Local"
                                                    },
                                                    {
                                                        "name": "numberFormat",
                                                        "type": "text",
                                                        "label": "Number Format"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "valueType",
                                                        "type": "text",
                                                        "label": "Value Type"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "(H): "
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Row"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.type}}",
                                            "b": "deck",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://script.google.com/macros/s/AKfycbz7Cho1PAOtw1oKvq5-AbHMzu4jo4PdtyslnZsTVoAME57F_2FXv2KDiFNN3M2GqpNP99/exec",
                                "data": "",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 618,
                                    "y": 879
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 22,
                            "module": "mysql:InsertIntoTable",
                            "version": 2,
                            "parameters": {
                                "table": "`your_schema`.`your_table`",
                                "account": 777777,
                                "showWarnings": false,
                                "isToManageDataInSharedTransaction": true
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.type}}",
                                            "b": "update",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "@id": "",
                                "@COST": "{{1.data.cost}}",
                                "@EFFORT": "{{1.data.effort}}",
                                "@DESCRIPTION": "{{1.data.description}}",
                                "@MAIN_USECASE": "{{1.data.mainUseCase}}",
                                "@GPT_USE_CASE_1": "{{1.data.gptUseCase1}}",
                                "@GPT_USE_CASE_2": "{{1.data.gptUseCase2}}",
                                "@GPT_USE_CASE_3": "{{1.data.gptUseCase3}}",
                                "@GENAI_APP_HEADING": "{{1.data.genaiAppHeading}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 620,
                                    "y": 173
                                },
                                "restore": {
                                    "parameters": {
                                        "table": {
                                            "label": "schema_defaults.GENAI_LLM_APPS"
                                        },
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "mysql"
                                            },
                                            "label": "My MySQL connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:mysql",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "isToManageDataInSharedTransaction",
                                        "type": "boolean",
                                        "label": "Manage data within the shared transaction",
                                        "required": true
                                    },
                                    {
                                        "name": "showWarnings",
                                        "type": "boolean",
                                        "label": "Show warnings from the database",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "@id",
                                        "type": "integer",
                                        "label": "id"
                                    },
                                    {
                                        "name": "@GENAI_APP_HEADING",
                                        "type": "text",
                                        "label": "GENAI_APP_HEADING"
                                    },
                                    {
                                        "name": "@DESCRIPTION",
                                        "type": "text",
                                        "label": "DESCRIPTION"
                                    },
                                    {
                                        "name": "@MAIN_USECASE",
                                        "type": "text",
                                        "label": "MAIN_USECASE"
                                    },
                                    {
                                        "name": "@EFFORT",
                                        "type": "text",
                                        "label": "EFFORT"
                                    },
                                    {
                                        "name": "@COST",
                                        "type": "text",
                                        "label": "COST"
                                    },
                                    {
                                        "name": "@GPT_USE_CASE_1",
                                        "type": "text",
                                        "label": "GPT_USE_CASE_1"
                                    },
                                    {
                                        "name": "@GPT_USE_CASE_2",
                                        "type": "text",
                                        "label": "GPT_USE_CASE_2"
                                    },
                                    {
                                        "name": "@GPT_USE_CASE_3",
                                        "type": "text",
                                        "label": "GPT_USE_CASE_3"
                                    },
                                    {
                                        "name": "@id",
                                        "type": "integer",
                                        "label": "id"
                                    },
                                    {
                                        "name": "@GENAI_APP_HEADING",
                                        "type": "text",
                                        "label": "GENAI_APP_HEADING"
                                    },
                                    {
                                        "name": "@DESCRIPTION",
                                        "type": "text",
                                        "label": "DESCRIPTION"
                                    },
                                    {
                                        "name": "@MAIN_USECASE",
                                        "type": "text",
                                        "label": "MAIN_USECASE"
                                    },
                                    {
                                        "name": "@EFFORT",
                                        "type": "text",
                                        "label": "EFFORT"
                                    },
                                    {
                                        "name": "@COST",
                                        "type": "text",
                                        "label": "COST"
                                    },
                                    {
                                        "name": "@GPT_USE_CASE_1",
                                        "type": "text",
                                        "label": "GPT_USE_CASE_1"
                                    },
                                    {
                                        "name": "@GPT_USE_CASE_2",
                                        "type": "text",
                                        "label": "GPT_USE_CASE_2"
                                    },
                                    {
                                        "name": "@GPT_USE_CASE_3",
                                        "type": "text",
                                        "label": "GPT_USE_CASE_3"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}